<a href="https://colab.research.google.com/github/magladko/NAI/blob/master/mpp4/mpp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#K-means – NAI mini-project
###*Kornel Gładkowski @s22411*

##Import libs, mount Google Drive & set project PATH

In [19]:
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os

# from google.colab import drive
# drive.mount('/content/drive')

In [34]:
# PATH = "/content/drive/MyDrive/4. semestr/NAI/mpp4"

!git clone https://github.com/magladko/NAI.git
DATA_PATH = os.path.abspath("NAI/mpp4/data") + "/"

fatal: destination path 'NAI' already exists and is not an empty directory.

##Set user input

In [68]:
#@title Enter number of class { run: "auto" }
k = 3 #@param {type:"slider", min:1, max:10, step:1}

##Read data

In [77]:
train_df = pd.read_csv(DATA_PATH + "iris_all.csv")

In [78]:
train_df['cluster'] = np.random.randint(1, k+1, train_df.shape[0])

# assign random values until all possibles values have assigned observation
while not np.all(np.isin([i for i in range(1, k+1)] ,train_df['cluster'].unique())):
    train_df['cluster'] = np.random.randint(1, k+1, train_df.shape[0])

In [79]:
train_df

,nr,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,cluster
0,4,4.6,3.1,1.5,0.2,setosa,2
1,5,5.0,3.6,1.4,0.2,setosa,2
2,10,4.9,3.1,1.5,0.1,setosa,3
3,11,5.4,3.7,1.5,0.2,setosa,2
4,16,5.7,4.4,1.5,0.4,setosa,1
...,...,...,...,...,...,...,...
145,144,6.8,3.2,5.9,2.3,virginica,2
146,145,6.7,3.3,5.7,2.5,virginica,2
147,146,6.7,3.0,5.2,2.3,virginica,3
148,147,6.3,2.5,5.0,1.9,virginica,2
149,150,5.9,3.0,5.1,1.8,virginica,2

In [81]:
sns.pairplot(train_df.iloc[:, 1:-3], hue=train_df['cluster'])

ValueError: ignored